DJANGO_SECRET_KEY=set-your-secret-key-here
DJANGO_ALLOWED_HOSTS=localhost,0.0.0.0,127.0.0.1

# use local docker db settings
DATABASE_ENGINE=postgresql_psycopg2
DATABASE_NAME=dockerdjango
DATABASE_USERNAME=dbuser
DATABASE_PASSWORD=dbpassword
DATABASE_HOST=db
DATABASE_PORT=5432

# Email settings
EMAIL_HOST_USER= gmail
EMAIL_HOST_PASSWORD= gmailapppassword

# frontend API URL
NEXT_PUBLIC_URL=http://localhost
NEXT_PUBLIC_API_URL=http://localhost/api/
NEXT_PUBLIC_INTERNAL_API_BASE=http://django-web:8000/api