# Djanoデプロイ先
DATABASE_ENGINE=postgresql_psycopg2
DATABASE_URL="postgresql://neondb_owner:password@ep-red-mountain-ajh572fm-pooler.c-3.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
DJANGO_SECRET_KEY=setting
DJANGO_SETTINGS_MODULE=config.settings.render
NEXT_PUBLIC_URL=money-management-three-nu.vercel.app
RENDER_URL=https://money-management-kml5.onrender.com
VERCEL_URL=money-management-three-nu.vercel.app

RESEND_API_KEY = setting link
GMAIL_HOST_PASSWORD=setting
GMAIL_HOST_USER=takashikurino6@gmail.com