# .envで利用する。

DJANGO_SECRET_KEY = #設定が必要
DJANGO_ALLOWED_HOSTS=localhost,0.0.0.0,127.0.0.1

# use local docker db settings
DATABASE_ENGINE=postgresql_psycopg2
DATABASE_NAME=money_db
DATABASE_USERNAME=dbuser
DATABASE_PASSWORD=12345678
DATABASE_HOST=db
DATABASE_PORT=5432

# Email settings
GMAIL_HOST_USER= takashikurino6@gmail.com
GMAIL_HOST_PASSWORD= #show gmail settins
RESEND_API_KEY = 

# both settings
NEXT_PUBLIC_URL=http://localhost
# front settings
DJANGO_INTERNAL_URL=http://django-web:8000      # SSR用（サーバー間通信）

