# Djanoデプロイ先
DATABASE_ENGINE=postgresql_psycopg2
DATABASE_URL="postgresql://neondb_owner:password@ep-red-mountain-ajh572fm-pooler.c-3.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
DJANGO_SECRET_KEY=setting
DJANGO_SETTINGS_MODULE=config.settings.render
NEXT_PUBLIC_URL=https://takashikurino.com
VERCEL_URL=https://takashikurino.com
RENDER_URL=https://api.takashikurino.com

RESEND_API_KEY =
GMAIL_HOST_PASSWORD=
GMAIL_HOST_USER=