# Environment variables for Render deployment

DJANGO_SETTINGS_MODULE=config.settings.render
DJANGO_SECRET_KEY=xxx
DJANGO_ALLOWED_HOSTS=docker-template-six.vercel.app,docker-template-rf61.onrender.com
DATABASE_URL=   urlを貼り付ける
PYTHONUNBUFFERED=1

# vercel url 
NEXT_PUBLIC_API_URL=https://docker-template-six.vercel.app
